.write {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writeImg {
  width: 100%;
  max-width: 800px;
  height: 50vh;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.writeForm {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.writeFormGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.writeInput {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline: none;
  border-color: teal;
}

.writeText {
  height: 200px;
  resize: vertical;
  font-family: inherit;
  font-size: 16px;
}

.writeSubmit {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
